<body>
<h1>ようこそBookersへ！</h1>
<p class="p_on">
<strong>Bookers</strong>では、様々な書籍に関するあなたの意見や
</p>
<p class="p_on">
印象を共有し交換することができます
</p>

<p class="p_on">
<%= link_to "start", books_path %>
</p>
</body>